* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

 header {
    position: sticky;
    top: 0;
} 

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #0f1a35 ;
    color: #f8fafc;
    margin: auto;
    padding: 15px 8%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #38bdf8;
    letter-spacing: 2px;
}

li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    cursor: pointer;
}

.nav-bar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    color: #38bdf8;
}
 
.nav-bar a:hover {
    color: yellowgreen;
}

.hero {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    background-color: #0f1a35;
}

.text-cnt {
    width: 50%;
}

.image-cnt {
    width: 50%;
}
.container-1 {
    margin-left: 7%;
    margin-top: 6%;
}

.text-cnt h1 {
    font-size: 56px;
    color: #f8fafc;
} 

span {
    color: #38bdf8;
}
.text-cnt h3 {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #f8fafc;
}

.image-cnt img {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 13%;
}

.about-sct {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 10%;
    background-color: #0f1a35;
    gap: 80px;
}

.about-text h2 {
    color: #f8fafc;
    margin-bottom: 60px;
    text-decoration: underline #38bdf8;

}

.about-text p {
    color: #94a3b8;
}

.about-img {
    width: 45%;
    display: flex;
    justify-content: center;
}

.about-img img {
    border-radius: 50%;
}

.about-text {
    width: 45%;
}

.skills {
    min-height: 70vh;
    padding: 55px 10%;
    text-align: center;
    background-color: #0f1a35 ;
}

.skills h2 {
    font-size: 40px;
    margin-bottom: 35px;
    margin-bottom: 200px;
    color: #f8fafc;
}

#skills-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px;
}

#skills-list p {
    width: 100px;
    height: 95px;
    background-color: #38bdf8;
    border: 1px solid #243a5a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}

#skills-list p:hover {
    border-color: #6c4cff;
    transform: translateY(-6px);
    background-color: #0f1a35;
    
}

.projects {
    min-height: 80vh;
    padding: 100px 8%;
    background-color: #0f1a35;
    text-align: center;
}

.projects h2 {
    color: #f8fafc;
    font-size: 42px;
    margin-bottom: 50px;
}

#projectList {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto
}

/* #projectList:hover {
    border-color: #6c4cff;
    transform: translateY(-6px);
    background-color: #0f1a35;
    
} */

#projectList > div {
    width: 500px;
    padding: 30px;
    background-color: #0f1a35;
    border: 1px solid #243a5a;
    border-radius: 15px;
    text-align: left;
    transition: 0.3s;
}

#projectList h3 {
    color: #f8fafc;
    font-size: 24px;
    margin-bottom: 15px;
}

#projectList p {
    color: #94a3b8;
    font-size: 16px;
    margin-bottom: 20px;
}

.project-tech {
    display: inline-block;
    color: #38bdf8;
    background-color: #111c36;
    border: 1px solid #243a5a;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

#contact {
    padding: 50px;
    background-color: #0f1a35 ;
}

.section-title {
    margin-bottom: 30px;
}

.contact-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.contact-container a {
    list-style: none;
    text-decoration: none;
    color: #38bdf8 ;
}

.contact-container a:hover {
     color: yellowgreen;
}

.contact-section h2 {
    color: #f8fafc ;
}